.offer__item__container{
    border-left: 0.069vw solid #E0E0E0 ;
    width: 12.431vw;
    height: 100%;
}
.offer__item__information{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}