.source__container{
    width: 100%;
    height: 17.847vw;
    background: #8B96A5;
    display: flex;
    border-radius: 0.417vw;

}
.source__title__container{
    width: 17.847vw;
    height: 100%;
}
.source__grid__container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
}
