.actions__container{
    /*width: 11.875vw;
    height: 2.240vw;*/
    width: 15.833vw;
    height: 2.986vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /*
    margin-right: 6.875vw;
    */
    margin-right: 9.167vw;
}
.container__img{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: max-content;
    height: 100%;

}
.img{
    /*width: 1.250vw;
    height: 1.250vw;*/
    width: 1.667vw;
    height: 1.667vw;
}
.text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    /*font-size: 0.625vw;
    line-height: 0.781vw;*/
    font-size: 0.833vw;
    line-height: 1.042vw;
    text-align: center;
    color: rgba(139, 150, 165, 1);
    margin: 0;

}