.header__container{
    width:  100%;
    height: 5.972vw;
    filter: drop-shadow(0 0.278vw 0.278vw rgba(0, 0, 0, 0.25));

    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 0;
    left: 0;
    z-index: 3;
}
.logo__container{
    width: 10.417vw;
    height: 3.194vw;
    margin-left: 9.028vw;
}
.logo__container__img{
    width: 100%;
    height: 100%;
}