.search__container{
    /*width: 34.635vw;
    height: 2.083vw;*/
    /*
   border: 0.052vw solid rgba(13, 110, 253, 1);
   */
    width: 46.181vw;
    height: 2.778vw;
    display: flex;
    align-items: center;
    border: 0.069vw solid rgba(13, 110, 253, 1);
}
.search__input{
    width: 29.236vw;
    height: 2.639vw;
    border-top: 0.069vw solid rgba(13, 110, 253, 1) ;
    border-left: 0.069vw solid rgba(13, 110, 253, 1) ;
    border-bottom: 0.069vw solid rgba(13, 110, 253, 1) ;
}
.search__select{
    width: 10.069vw;
    height: 2.639vw;
    border: 0.069vw solid rgba(13, 110, 253, 1) ;
}
.search__button{
    width: 6.944vw;
    height: 2.639vw;
    border:  0.069vw solid rgba(13, 110, 253, 1)  ;
    background-color: rgba(13, 110, 253, 1);
    color: rgba(255, 255, 255, 1);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 1.111vw;
    line-height: 1.319vw;
    text-align: center;

}